<div>
<mat-toolbar color="primary" class="container-fluid">
  <span>Gemeinsam gegen die Panik!</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
</mat-toolbar>
<div style="text-align: center;">
<mat-label>Wähle ein Design:</mat-label>
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Einfach"><app-template1-component></app-template1-component></mat-tab>
  <mat-tab label="Digitale Arbeit"><app-template2-component></app-template2-component></mat-tab>
  <mat-tab label="---"><app-template3-component></app-template3-component></mat-tab>
</mat-tab-group>
</div>
</div>
