<div>
<mat-toolbar color="primary" class="container-fluid">
  <span>Gemeinsam gegen die Panik!</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <fa-icon class="example-icon" [icon]="faShare"></fa-icon>
</mat-toolbar>
<div>
<mat-card>
  <div class="container-fluid">
    <form class="col-xs-12 row" [formGroup]="aushangForm">
      <mat-form-field class="col-xs-12">
        <textarea class="answerField" formControlName="intro" matInput placeholder="Liebe Nachbarn... (fortführen)"></textarea>
      </mat-form-field>
      <mat-form-field class="col-xs-12">
        <textarea class="answerField" formControlName="paragraph1" matInput placeholder="Was ich übernehmen kann:"></textarea>
      </mat-form-field>
      <mat-form-field class="col-xs-12">
        <textarea class="answerField" formControlName="paragraph2" matInput placeholder="Wie Sie mich erreichen können:"></textarea>
      </mat-form-field>
      <mat-form-field class="col-xs-12">
        <textarea class="answerField" formControlName="name" matInput placeholder="Dein/Eure Namen"></textarea>
      </mat-form-field>
    </form>
  </div>
  <div class="container row">
    <button mat-button (click)="generate()"><b>Aushangdokument generieren</b></button>
  </div>
<div class="container row" *ngIf="downloadOkay">
  <a [href]="fileUrl" download="response.pdf">Download Document</a>
</div>
</mat-card>
</div>
