<mat-card>
  <article>
    <form [formGroup]="aushangForm">
      <section class="row center-xs">
        <section class="col-xs-12 row inputs-wrapper">
          <mat-label class="col-xs-12">>{{'simpleNotice.heading' | translate}}</mat-label>
          <mat-form-field class="col-xs-12 offset-bottom-50">
            <mat-label>Stellen Sie sich vor</mat-label>
            <textarea class="eingabeFeld" formControlName="intro" matInput required></textarea>
          </mat-form-field>
          <mat-label class="col-xs-12 offset-bottom-50">{{ 'simpleNotice.description' | translate }}</mat-label>
          <mat-label class="col-xs-12">{{ 'simpleNotice.offeredHelp' | translate }}</mat-label>
          <mat-form-field class="col-xs-12 offset-bottom-50">
            <mat-label>{{ 'simpleNotice.placeholder.offeredHelp' | translate }} </mat-label>
            <textarea class="eingabeFeld" formControlName="paragraph1" matInput required></textarea>
          </mat-form-field>
          <mat-label class="col-xs-12">{{ 'simpleNotice.contact' | translate }}</mat-label>
          <mat-form-field class="col-xs-12 offset-bottom-50">
            <mat-label>{{ 'simpleNotice.placeholder.contact' | translate }}</mat-label>
            <textarea class="eingabeFeld" formControlName="paragraph2" matInput required></textarea>
          </mat-form-field>
          <mat-label class="col-xs-12">{{ 'simpleNotice.regards' | translate }} </mat-label>
          <mat-form-field class="col-xs-12">
            <mat-label> {{ 'simpleNotice.placeholder.name' | translate }}</mat-label>
            <textarea class="eingabeFeld" formControlName="name" matInput required></textarea>
          </mat-form-field>

          <section class="row col-xs-12" style="text-align:center">
            <button class="col-xs-12" mat-raised-button (click)="generate()" color="primary"><b>
                {{'general.generateNotice' | translate}}
              </b></button>
            <mat-hint [innerHtml]="'general.pleaseNoteFurther' | translate">
            </mat-hint>
          </section>
          <section class="row col-xs-12" *ngIf="downloadOkay">
            <a [href]="fileUrl" download="response.pdf">Download Document</a>
          </section>
        </section>
      </section>
    </form>
  </article>

</mat-card>